/* media queries so the website will be responsive */
/* MEDIA QUERY for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    
    header {
        padding-bottom: 0;
        justify-content: center;
        /* position: relative; */
        position: -webkit-sticky;
        position: sticky;
    }

    header h1 {
        width: 100%;
        display:none;
        text-align: center;
    }

    header nav ul {
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 2vw;
    }

    .hero {
        align-items: flex-start;
        width: 90%;
    }

    .hero-description, .hero-photo {
        flex: auto;
    }

    .hero-description {
        text-align: center;
    }

    .hero-description h1 {
        font-size: 5.0vw;
    }
    
    .hero-description h2 {
        font-size: 4.0vw;
        margin-top: 2.5%;
    }

    .hero p {
        font-size: 3.5vw;
        padding-bottom: 0.5%;
        text-align: justify;
    }

    .hero-photo {
        padding: 5% 10%; 
    }

    .section-title {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: double 3px var(--dark-color);
        font-size: 5vw;
        border-right: none;
        text-align: center;
    }

    .my-work {
        align-items: flex-start;
        width: 90%;
        justify-content: space-evenly;
        scroll-margin-top: 1em;
    }
    
    .work-projects {
        flex: auto;
    }
    
    .work-project { /* make all the work projects equal size on smaller screens */
        margin: 1.5% 1.5%;
        flex: 100%;
    }

    .contact-me {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .contact-item {
        width: 100%;
        margin-top: 2.5%;
        font-size: 4.0vw;
    }
    
    .contact-me img {
        margin-top: 2.5%;
    }
}   


/* MEDIA QUERY for tablets and smaller */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY for mobile phones and smaller */
@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 3vw;
    }
    .hero-description h2 {
        font-size: 4.5vw;
    }

    .hero p {
        font-size: 4.0vw;
    }

    .my-work {
        scroll-margin-top: 1em;
    }
}