* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* set global colors */
    --dark-color: #3d4167;
    --light-color: #e5e8ff;    
    --shadow-color: rgba(0, 0, 0, 0.5);
}

body { /*I'm not even sure if the background-color gets used anywhere since I have the background image */
    color: var(--dark-color);
    background-color:var(--light-color);
}

/* Start header styling */
header {
    padding: 0.5%;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/bluebkgnd.jpg");
    background-size: cover;
}

header h1 {
    padding: .5%;
    font-weight: lighter;
    font-size: 1.5vw;
    font-style: oblique;
}

header a {
    text-decoration: none;
    color: var(--light-color);
}

/* Start navigation styling */
header nav {
    padding: 1%;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: .25% 10px;
    font-weight: lighter;
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 10px;
}
/* end navigation styling */

/* end header styling */

/* start footer styling */
footer {
    padding: 0.75%;
    color: var(--light-color);
    background-image: url("../images/bluebkgnd.jpg");
    background-size: cover;
    text-align: center;
    font-size: .75vw;
}

.my-name {
    font-weight: lighter;
    font-style: oblique;
}
/* end footer styling */

/* start body styling */
.body-inside { /* make everything in the body, except the header and footer, have the same background image */
    background-image: url("../images/bluebkgnd1.jpg");
    background-size: cover;
    padding-bottom: 2.5%;
}

/* start hero styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    margin: 0 auto;
    scroll-margin-top: 2.5em;
}

.hero-description {
    color: var(--dark-color);
    flex: 3;
    padding-right: 2.5%;
    text-align: right;
}

.hero-description h1 {
    font-size: 2vw;
    padding-bottom: 0.5%;
}

.hero-photo {
    flex: 1;
}

.hero-photo img {
    width: 100%;
    box-shadow: 0 0 10px var(--shadow-color);
}

.hero h2 {
    font-size: 1.55vw;
}

.hero p {
    font-size: 1.3vw;
    padding-bottom: 1.5%;
    text-align: justify;
}

/* end hero styling */


/* start styling common to both the section about my projects and the contact me section */
.section-title {
    font-size: 1.5vw;
    border-right: double 10px var(--dark-color);
    padding-right: 2.0%;
    text-align: right;
    flex: 1;
}

.section-items {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
}

.section-layout {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.5%;
}

/* end common styling */

/* start my projects styling */
.my-work {
    justify-content: center;
    scroll-margin-top: 5em;
}

.work-project {
    margin: 1.5% 1.5%;
    flex: 30%;
}

.work-project img {
    width: 100%;
    box-shadow: 0 0 10px var(--shadow-color);
}

.work-project:nth-child(1) {
    flex: 100%;
    margin: 0 1.5% 1.5% 1.5%;
}

/* end my project styling */

/* start contact me styling */
.contact-me {
    justify-content: space-between;
    border: solid 3px var(--dark-color);
    box-shadow: 0 0 10px var(--shadow-color);
    /* margin-bottom: 0; */
}

.contact-items {
    justify-content: space-evenly;
}

.contact-item {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.5vw;
}

.contact-me img {
    width: 50px;
}

/* end contact me styling */
